<p style="color: green"><%= notice %></p>
<%= turbo_frame_tag 'post_1' do %>
   <%= render @post %>
 <div>
  <%= link_to "Edit this post ", edit_post_path(@post), data: { turbo_frame: 'post_content' } %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
<% end %>
